<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89ab83">  <td>17/07/16 21:49:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMessageUtil.testPrintMessage()[pri:0, instance:seleniumanttestng.TestMessageUtil@29444d75]">testPrintMessage</td> 
  <td>main@736709391</td>   <td></td> </tr>
<tr bgcolor="89ab83">  <td>17/07/16 21:49:55</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMessageUtil.testPrintMessage()[pri:0, instance:seleniumanttestng.TestMessageUtil@29444d75]">testPrintMessage</td> 
  <td>main@736709391</td>   <td></td> </tr>
<tr bgcolor="89ab83">  <td>17/07/16 21:49:55</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMessageUtil.testPrintMessage()[pri:0, instance:seleniumanttestng.TestMessageUtil@29444d75]">testPrintMessage</td> 
  <td>main@736709391</td>   <td></td> </tr>
<tr bgcolor="89ab83">  <td>17/07/16 21:49:55</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMessageUtil.testSalutationMessage()[pri:0, instance:seleniumanttestng.TestMessageUtil@29444d75]">testSalutationMessage</td> 
  <td>main@736709391</td>   <td></td> </tr>
</table>
